* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #151e3d;
    color: white ;
    font-family: sora, sans-serif;
}

/* nav section */

nav {
    color: white;
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.cl-effect-13 a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-13 a::before {
	position: absolute;
	top: 100%;
	left: 50%;
	color: transparent;
	content: '•';
	text-shadow: 0 0 transparent;
	font-size: 0.8em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before {
	color: #00F2DE;
	text-shadow: 10px 0 #00F2DE, -10px 0 #00F2DE;
	
}

.cl-effect-13 a:hover,
.cl-effect-13 a:focus {
	color: #00F2DE;
}

/* home section */

.home {
	height: 80vh;
}

.home-div-a {
    text-align: center;
    margin-top: 100px;
}

.home-p-1 {
    color: #00F2DE;
    font-size: 32px;
    padding-bottom: 40px;
}

.home-h1 {
    font-size: 48px;
    padding-bottom: 20px;
}

.home-p-2 {
    font-size: 24px;
}

/* about section */

.about {
	height: 100vh;
	width: 100vw;
}

.about-heading {
	font-size: 2rem;
	text-align: center;
}
.about-d1 {
	width: 40%;
	margin-top: 20px;
	margin-left: 20px;
}

h1{
	text-align: center;
}

.dot {
	height: 65px;
	width: 65px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	opacity: 30%;
	margin-top: 80px;
	
  }